@import "/src/theme/colors";

.avatar {
  border-radius: 50%;

  // size
  &--small {
    width: 32px;
    height: 32px;
  }
  &--medium {
    width: 48px;
    height: 48px;
  }
  &--large {
    width: 64px;
    height: 64px;
  }
}
