@import "/src/theme/colors";

.dashboard {
  background-color: $background-primary;
  display: grid;
  grid-template-columns: 1fr 25fr;
  height: 100vh;
}

.sidebar {
  background-color: $white;
  padding: 20px 10px;
}

.content {
}
