@import "/src/theme/colors";

.cardFooter {
  display: flex;
  padding-top: 24px;

  // alignment
  &--left {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--right {
    justify-content: flex-end;
  }
  &--space-between {
    justify-content: space-between;
  }

  // spacing
  &--compact {
    padding-bottom: 4px;
  }

  // sizing
  &--fullWidth {
    width: 100%;
  }
}
