$primary: #475cea;
$primary-hover: #3149e1;
$primary-active: #233ad0;

$secondary: #ffa700;
$secondary-hover: #e09302;
$secondary-active: #ce8601;

$background-primary: #f7f6ff;

$text-primary: #100f1a;

$white: #ffffff;
$white-hover: #f1f1f1;
$white-active: #dfdfdf;
