@import "/src/theme/colors";

.box {
  display: flex;
  height: 100%;
  flex-basis: 0;

  // direction
  &--row {
    flex-direction: row;
  }
  &--column {
    flex-direction: column;
  }

  // alignment
  &--align-start {
    align-items: flex-start;
  }
  &--align-center {
    align-items: center;
  }
  &--align-end {
    align-items: flex-end;
  }

  // justify
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-center {
    justify-content: center;
  }
  &--justify-end {
    justify-content: flex-end;
  }
  &--justify-space-between {
    justify-content: space-between;
  }
}
