@import "/src/theme/colors";

.typography {
  color: $text-primary;

  // Sizes
  &--title {
    font-size: 26px;
  }
  &--subtitle {
    font-size: 16px;
  }
  &--section-title {
    font-size: 22px;
  }
  &--card-title {
    font-size: 20px;
  }
  &--large {
    font-size: 24px;
  }
  &--medium {
    font-size: 18px;
  }
  &--p {
    font-size: 14px;
    margin: 0;
  }
  &--small {
    font-size: 12px;
  }

  // Weights
  &--weight-bold {
    font-weight: 700;
  }
  &--weight-medium {
    font-weight: 500;
  }
  &--weight-regular {
    font-weight: 400;
  }
  &--weight-light {
    font-weight: 100;
  }

  // gap
  &--gap-none {
    margin-bottom: 0;
  }
  &--gap-small {
    margin-bottom: 4px;
  }
  &--gap-medium {
    margin-bottom: 8px;
  }
  &--gap-large {
    margin-bottom: 16px;
  }

  // color
  &--color-primary {
    color: $text-primary;
  }
  &--color-secondary {
    color: $text-secondary;
  }
  &--color-greyed {
    color: $text-greyed;
  }
}
